<div class='container'>
	<%= simple_form_for [:admin, @event] do |f| %>
	  <p><%= f.input :title %></p>
		<p><%= f.input :date %></p>
		<p><%= f.input :place %></p>
		<p><%= f.input :description, :cols => "30", :rows => "10" %></p>
	  <p><%= f.button :submit, "Submit", class: "button"  %> | <%= link_to 'Back', :back, :class => "btn btn-default"  %></p>
 
	<% end %> 
</div>