<div class='container'>
	<%= simple_form_for [:admin, @event] do |f| %>
	  <% if @event.errors.any? %>
	    <div id="error_explanation">
	      <h2>
	        <%= pluralize(@event.errors.count, "error") %> prohibited
	        this article from being saved:
	      </h2>
	      <ul>
	        <% @event.errors.full_messages.each do |msg| %>
	          <li><%= msg %></li>
	        <% end %>
	      </ul>
	    </div>
	  <% end %>

	  <p><%= f.input :title %></p>
		<p><%= f.input :date %></p>
		<p><%= f.input :place %></p>
		<p><%= f.input :description, :cols => "30", :rows => "10" %></p>
	  <p><%= f.button :submit, "Submit", class: "button"  %> | <%= link_to 'Back', :back, :class => "btn btn-default"  %></p>
 
	<% end %> 
</div>